!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Narceja
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            = link_to 'narceja', root_path, class: 'navbar-brand'
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.active
                = link_to 'Home', root_path
              %li.dropdown
                %a.dropdown-toggle{ data: { 'toggle': 'dropdown' } }
                  Domains
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'List', domains_path
                  %li
                    = link_to 'New', new_domain_path
              %li.dropdown
                %a.dropdown-toggle{ data: { 'toggle': 'dropdown' } }
                  Mailboxes
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'List', mailboxes_path
                  %li
                    = link_to 'New', new_mailbox_path
              %li.dropdown
                %a.dropdown-toggle{ data: { 'toggle': 'dropdown' } }
                  Forwarders
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'List', forwarders_path
                  %li
                    = link_to 'New', new_forwarder_path

            - if user_signed_in?
              %ul.nav.navbar-nav.navbar-right
                %li.active.nav-link
                  = link_to current_user.email, '#'
                %li
                  = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out navbar-link'
            - else
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to 'Login', new_user_session_path, class: 'glyphicon glyphicon-log-in'
      - if notice
        %p.alert.alert-success
          = notice
      - if alert
        %p.alert.alert-danger
          = alert
      .container
        = yield
